*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    background-color: orange;
    text-align: center;
}

#screenDiv {
    box-sizing: content-box;
    border: 2px solid lightblue;
    height: 1000px;
    display: flex;
    justify-content: center;
}
#screen {
    box-sizing: content-box;
    border: 5px solid violet;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.coloring {
    background-color: black;
    /* border: 1px solid red; */
}

/* #pixel { */
/*     border: 1px solid black; */
/*     width: 100px; */
/*     height: 100px; */

}
