*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    background-color: orange;
    text-align: center;
}

#screenDiv {
    box-sizing: content-box
    border: 2px solid lightblue;
    height: 500px;
    display: flex;
    justify-content: center;
}
#screen {
    border: 5px solid violet;
    display: flex;
    align-items: flex-start;
}
